
<h3><span>Top-rated homes</span></h3>

<% @listings.in_groups_of(4, false).each do |group| %>
  <%= content_tag :div, class: 'row main-container' do %>
    <% group.each do |l| %>
        <%= content_tag :div, class: 'col-md-3' do %>
         <%= link_to listing_path(listing.id), style:' color: inherit; text-decoration: none;', local: true do %>
          <% if listing.photos.present? %>
              <%= image_tag(l.photos[0].url, class: 'list_image') %>
          <% else %>
              <%= image_tag('https://images.unsplash.com/photo-1492889971304-ac16ab4a4a5a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=058c56771e5c8d1f9adf38dc794f6e0e&auto=format&fit=crop&w=2553&q=80', class:'thumbnail list-image')%>
          <% end %>
            <h4><span><%= l.city %> </span></h4>
            <h5><%= l.name %></h5>
            <div><%= sanitize(number_to_currency(l.price)) %> - Free cancellation</div>
            <% if signed_in? && (current_user.id == listing.user_id || current_user.superadmin?) %>
              <p><%= link_to "Edit this listing", edit_listing_path(listing.id) %></p>
            <% end %>
         <% end %>
        <% end %>
    <% end %>
  <% end %>  
<% end %>