<%= form_with(model: @listing, local: true) do |form| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :place_type %>
    <%= form.number_field :place_type %>
  </div>

  <div class="field">
    <%= form.label :property_type %>
    <%= form.text_field :property_type %>
  </div>

  <div class="field">
    <%= form.label :room_number %>
    <%= form.number_field :room_number %>
  </div>

  <div class="field">
    <%= form.label :bed_number %>
    <%= form.number_field :bed_number %>
  </div>

  <div class="field">
    <%= form.label :guest %>
    <%= form.text_field :guest %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= form_for(@listing, url: {action: "create"}, html: { :multipart => true }) do |f| %>

  <div id = "new-listing-1">
    <p>Title: <%= f.text_field :name  %></p>
    <p>Description: <%= f.text_area :description %></p>
  </div>    
  <div id = "new-listing-2">
    <p>City: <%= f.text_field :city %></p>
    <p>Country: <%= f.text_field :country %></p>
  </div>
  <div id = "new-listing-3">
    <p>Price: <%= f.text_field :price %></p>
  </div>
  <div id = "new-listing-4">
  </div>
  <div id ="new-listing-5">
    <p>Guests: <%= f.text_field :guest_number %></p>
    <p>Beds: <%= f.text_field :bed_number %></p>
    <p>Bedrooms: <%= f.text_field :room_number %></p>
    <p>Bathrooms: <%= f.text_field :bathrooms %></p>
  </div>
  <div>
    <%= f.fields_for :listing_images do |i| %>
      <%= i.label :images %><br>
      <%= i.file_field :photo, :multiple => true, name: "listing_images[image][]" %>
    <% end %>
  </div>

  <p><%= f.submit "Submit"%></p>  
<% end %>
