<%= render "user" %>
<h3>Welcome, <%= current_user.full_name %></h3>

<div>
  <% if current_user.avatar.blank? %>
    <%= image_tag("avatar.svg", :alt => "avatar", class: "avatar-edit") %>
  <% else %>  
  <%= image_tag(current_user.avatar.url, :alt => "avatar",  class: "avatar-edit") %>
  <% end %> 
</div>

<div class="form-group">
  <%= form_for(current_user) do |form| %>
    <%= form.label :profile_picture%>
    <%= form.file_field :avatar %> 
    <%= form.submit 'Update Picture'%>
    <%= form.check_box :remove_avatar%>
         Remove picture 
  <% end%>
</div>

<div id = "user-details">
  <p>First name: <%= current_user.firstname %></p>
  <p>Last name: <%= current_user.lastname %></p>
  <p>Email: <%= current_user.email %></p>
  <p>Date joined AirBnB: <%= current_user.created_at %></p>
  <%= link_to 'Edit', edit_user_path(current_user) %>

</div>

<div id = "user-listings">
  <h4>My listings: </h4>
    <% user_listings = Listing.where(user_id: current_user.id) %>
    <% user_listings.each do |listing| %>
      <div class = "listing-container">
        <p><strong><%= listing.name %></strong></p>
        <p><%= listing.description %></p>
        <%= link_to "Edit this listing", edit_listing_path(listing) %>
      </div>
    <% end %>
</div>

