<!-- SECOND NAVBAR WITH FILTERS FOR SEARCH -->
<div class="navbar" id="navbar-submenu" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
<!--   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myCollapseBar2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
 -->
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="myCollapseBar2">
    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Dates 
        </button>
      <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">My Bookings </a></li>
          <li><a href="#">Privacy</a></li>
      </ul>
    </li>
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Guests 
        </button>
      <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">My Bookings </a></li>
          <li><a href="#">Privacy</a></li>
      </ul>
    </li>
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home type 
        </button>
      <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">My Bookings </a></li>
          <li><a href="#">Privacy</a></li>
      </ul>
    </li>

      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Price 
        </button>
      <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">My Bookings </a></li>
          <li><a href="#">Privacy</a></li>
      </ul>
    </li>
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Instant Book 
        </button>
      <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">My Bookings </a></li>
          <li><a href="#">Privacy</a></li>
      </ul>
    </li>
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Trip Type
        </button>
      <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">My Bookings </a></li>
          <li><a href="#">Privacy</a></li>
      </ul>
    </li>
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">More filters
        </button>
      <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">My Bookings </a></li>
          <li><a href="#">Privacy</a></li>
      </ul>
    </li>
    </ul>
  </div>
</div>  <!-- /.navbar-collapse -->

<div class="page-header">
	<h1>Select your next destination! 

    <!-- <input id="pac-input" class="controls" type="text" placeholder="Search for Something"> -->
    <!-- <div id="map-canvas"></div> -->

		<% if logged_in? %>
      <span><%= current_user.full_name %></span>
			<%= button_to ("Sign out"), sign_out_path, method: :delete, class: 'btn btn-primary' %>
		<% end %>
  	</h1>
  </div>

<div id="flash">
<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

<%= link_to "Homes", listings_path %>

<% form_tag search_path, :method => 'get' do %>
  <%= label :search, "Place" %><br />
  <%= text_field :search, :place %><br />
  <br />
  <%= label :search, "Check In" %><br />
  <%= date_select :search, :check_in %><br />
  <br />
  <%= label :search, "Check Out" %><br />
  <%= date_select :search, :check_out %><br />
  <br />
  <%= label :search, "Guests count" %><br />
  <%= text_field :search, :guests_count %><br />
  <%= submit_tag "Search", :name=>nil, :class => "btn btn-success" %>
<% end %>

