<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title><%= h(yield(:title) || "Clonebnb") %></title>
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>


<!-- <input id="pac-input" class="controls" type="text" placeholder="Search for Something">
<div id="map-canvas"></div> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyIOuC6WLUE8taQvrAiUoa5aV6f-b84Xc&libraries=places"></script> -->

 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
 <%= csrf_meta_tags %>

 <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>

	<%= render "layouts/navbar" %>
	<div id="page" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div,msg,:id=> "flash_#{name}") %>
		<% end %>
		<%= yield %>
	</div> <!--/.container-->
	<%= render "layouts/footer" %>


 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyIOuC6WLUE8taQvrAiUoa5aV6f-b84Xc&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</html>


